<!-- Could maybe use poo things to help ?? -->

<dossier name="Concert au Gazo" date="15/10/2020" description="
Petit retour en image sur cet évenement
" cover="cover.jpg" foldernum="2">


<image>
<name>Hugode and Few Racks</name>
<!-- For the path we just have to set the relative image name -->
<path>cover.jpg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>1</index>
<!-- Date -->
<date>15/40/65</date>
<description>Une douceur</description>
</image>

<image>
<name>Hugode and Few Racks</name>
<!-- For the path we just have to set the relative image name -->
<path>insta.jpg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>2</index>
<!-- Date -->
<date>15/40/65</date>
<description>Une douceur</description>
</image>
<image>
<name>Hugode and Few Racks</name>
<!-- For the path we just have to set the relative image name -->
<path>ball.jpg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>3</index>
<!-- Date -->
<date>15/40/65</date>
<description>Une douceur</description>
</image>
<image>
<name>Hugode and Few Racks</name>
<!-- For the path we just have to set the relative image name -->
<path>beugl.jpg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>4</index>
<!-- Date -->
<date>15/40/65</date>
<description>Une douceur</description>
</image>
<image>
<name>Hugode and Few Racks</name>
<!-- For the path we just have to set the relative image name -->
<path>dark.jpg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>5</index>
<!-- Date -->
<date>15/40/65</date>
<description>Une douceur</description>
</image>
<image>
<name>Hugode and Few Racks</name>
<!-- For the path we just have to set the relative image name -->
<path>scrat.jpg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>6</index>
<!-- Date -->
<date>15/40/65</date>
<description>Une douceur</description>
</image>
</dossier>
