
body {
    margin:0px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
  background-size: cover;
}
.imgdiv {
    
    background-color: aqua;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.topbar-sticky-shrink {
    padding: 2rem;
    transition: padding 0.25s ease;
    background-image: url('../images/header.png');
    background-repeat: no-repeat;
  background-size: cover;
  }
  
 
  
  .is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
  }

  .middle-col{
    background-image: url('../images/pq.png');
    background-repeat: no-repeat;
    background-size:contain;
    min-height: 2000px; ;

  }
  
