<!-- Could maybe use poo things to help ?? -->



<dossier name="Brutal répétitions" date="2022" description="Les répétitions - 2022" cover="brutalrepete9.jpeg" foldernum="3">


<image>
<name>Eh mais ça basse un max</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete1.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>1</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>


<image>
<name>On se bouche les oreilles comme on peut</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete2.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>2</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>

<image>
<name>Après avoir bien slidé le manche</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete3.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>3</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>

<image>
<name>Préparation avant de mettre le feu</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete4.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>4</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>

<image>
<name>Scratman a réussi son break</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete5.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>5</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>

<image>
<name>2 lumières dans l’ombre</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete6.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>6</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>

<image>
<name>Ballzzy heureux d’être content</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete7.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>7</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>

<image>
<name>Scrtaman s’est un peu emporté</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete8.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>8</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>

<image>
<name>Flou artistique, comme Brutal Fékal</name>
<!-- For the path we just have to set the relative image name -->
<path>brutalrepete9.jpeg</path> 
<!-- Index it will be displayed, we'll use this to create a list of images or a dictionnary -->
<index>9</index>
<!-- Date -->
<date>09/2022</date>
<description> </description>
<orientation>portrait</orientation>
</image>

</dossier>
