  {%extends "base.html"%}
  {%block head%}
  <link rel="stylesheet" type="text/css" href="../static/css/imggalery.css" />
  <link href="../static/css/flip.css" rel="stylesheet">
  <title>Brutal Bangers - Brutal Fekal</title>
  <style>
  /* Style the container div */
.horizontal-list {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Distribute items evenly */
  width: 60%; /* Take the full width of the parent div */
  padding: 0; /* Remove any default padding */
  margin : auto;
  margin-top: 20px;
  list-style: none; /* Remove list bullets */
}

/* Style each list item */
.horizontal-list-item {
  flex: 1; /* Grow to take available space */
  text-align: center; /* Center the content horizontally */
  padding: 10px; /* Add some spacing between items */
}

/* Style the images within the list items */
.social-picture {
  max-width: 50%; /* Ensure the images don't exceed their container width */
}
  </style>
  {%endblock%}
  {%block middlecolumn%}
  <h3 style="font-family: 'BFFont';font-size: 3em; padding-top: 60px;color:black">Et ouais car tous les groupes n'ont pas Few Racks Sheep pour faire des dessins de malade pour
    chacune des chansons
    Prépare tes oreilles et vérifie que les chiottes sont libres (et qu’il reste du PQ) !
  </h3>

  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">C 2 la merde</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
        <img class="imgpaysage" src="../static/images/artworks/c2lamerde.png">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/merdeverso.png">

      </div><!-- .card__back -->
    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/005l7rITDMJLIZassYvZaJ?si=af3b1c97e6284ffb">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/1K5KF77SsBdcLh4w8">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=-823GMsXuK4">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>



  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">L'usine à merde</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
        <img class="imgpaysage" src="../static/images/artworks/usine.png">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/usineverso.png">

      </div><!-- .card__back -->

    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/5MgbyFTGd3FIa2Te8OWy26?si=070d42dd77074f14">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/adXmaqpkaRCh6PRR7">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=7_wdvDFfdqM">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>


  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">Ma bécane</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
        <img class="imgpaysage" src="../static/images/artworks/mabecane.jpg">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/becaneverso.png">

      </div><!-- .card__back -->

    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/5nv2JvxxpQQbG7X5JWBCF4?si=a995adbcb63b42a0">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/BAgZFFCFLQgtJGDT6">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=5cnrRG_UXAs">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>




  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">La caissière de chez inter</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'La caissière de chez Inter'">
        <img class="imgpaysage" src="../static/images/artworks/caissiere.png">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/caissiereverso.png">

      </div><!-- .card__back -->
    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/6PIOGhL6Pe6U1TbFHLdCE2?si=ee538541c2a54b15">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/K4kQFqX3bpkysdJV7">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=ht4AZ9bw5EQ">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>




  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">K.K.K.</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'K.K.K.'">
        <img class="imgpaysage" src="../static/images/artworks/KKK.png">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/kkkverso.png">

      </div><!-- .card__back -->
    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/2Aa31vio2tp2YLNVgkUOmw?si=6c7d86da58a4461e">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/EPzSV7BkhEnKyRUX9">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=UizmNLf3xpg">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>

  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">La malbouffe</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'La malbouffe'">
        <img class="imgpaysage" src="../static/images/artworks/lamalbouffe.png">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/malbouffeverso.png">

      </div><!-- .card__back -->
    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/1nOLRFliXRDlIFYMd1TKdJ?si=132f0fc1f6444049">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/jSRTC15kn195VMwp8">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=z-x7xU0FyBI">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>

  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">Plutôt scato que catho</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'Plutôt scato que catho'">
        <img class="imgpaysage" src="../static/images/artworks/plutotscato.png">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/scatoverso.png">

      </div><!-- .card__back -->
    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/7EMsj5Ic8MWlIO5sjL2o2q?si=a8f5863cd56a44a2">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/XypnNeoEMuifWM7f6">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=fJQ2kPReJqw">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>

  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">Brutal Fekal</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'Brutal Fekal'">
        <img class="imgpaysage" src="../static/images/artworks/cover.jpg">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/BrutalFeka.png">

      </div><!-- .card__back -->
    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/35LJwAsU2izv8hZzNcEOOk?si=a9ee22ed49634545">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/EKX8Ye1Y3ArRpvXT7">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=uWt2-zAaI9Y">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>

  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">J'ai chié dans la colle</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'j ai chié dans la colle'">
        <img class="imgpaysage" src="../static/images/artworks/chiedanslacolle.png">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/chieverso.png">

      </div><!-- .card__back -->
    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/3g4dPKDBJRvNtwYqU6cBr7?si=b36d2d2a1f0b418d">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/Qc6s9uSTHVg3K7MU7">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=JFAVRCYxbpk">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>

  <h1 style="color:rgb(0, 0, 0);padding-top:30px; font-size: 70px;">Topin</h1>
  <div class="cardpaysage" style="background-color: none;">
    <div class="card__innerpaysage" style="background-color: #000;">

      <div class="card__frontpaysage image-container" style="content : 'Topin'">
        <img class="imgpaysage" src="../static/images/artworks/topin.png">
      </div><!-- .card__back -->

      <div class="card__backpaysage">
        <img class="imgpaysage" src="../static/images/livret/topinverso.png">

      </div><!-- .card__back -->
    </div><!-- .card__inner -->
  </div><!-- .card -->

  <div class="horizontal-list">
    <a class="horizontal-list-item" href="https://open.spotify.com/intl-fr/track/3DI66DsqaLWCYZLWfNhUJ4?si=0ea1bf417d124ce6">
      <img class="social-picture" src="../static/images/social/spotifyb.png" alt="spotify">

    </a>
    <a class="horizontal-list-item" href="https://deezer.page.link/aBHqZgi2sx65rS4D8">
      <img class="social-picture" src="../static/images/social/deezerlt.png" alt="deezer">

    </a>
    <a class="horizontal-list-item" href="https://www.youtube.com/watch?v=qEec5inZoEk">
      <img class="social-picture" src="../static/images/social/youtubeb.png" alt="youtube">

    </a>
  </div>
  {%endblock%}