{%extends "base.html"%}
{%block head%}
<link rel="stylesheet" type="text/css" href="../static/css/imggalery.css" />
<link href="../static/css/flip.css" rel="stylesheet">
<title>Brutal Bangers - Brutal Fekal</title>
{%endblock%}
{%block middlecolumn%}
<h3 style="font-family: 'BFFont';font-size: 3em; padding-top: 60px;color:black">Et ouais car tous les groupes n'ont pas Few Racks Sheep pour faire des dessins de malade pour
  chacunes des chansons
  Prépare tes oreilles et vérifie que les chiottes sont libres (et qu’il reste du PQ) !
</h3>

<h1 style="color:black;padding-top:30px; font-size: 70px;">C 2 la merde</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/c2lamerde.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <img class="imgpaysage" src="../static/images/livret/merdeverso.png">

    </div><!-- .card__back -->
  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px; font-size: 70px;">L'usine à merde</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/usine.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <img class="imgpaysage" src="../static/images/livret/usineverso.png">

    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px; font-size: 70px;">Ma bécane</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/mabecane.jpg">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <img class="imgpaysage" src="../static/images/livret/becaneverso.png">

    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



{%endblock%}