{%extends "basegroupe.html"%}
{%block head%}
<meta name="description" content="Paré pour l'aventure ?">
<link href="../static/css/blog.css" rel="stylesheet">
<link href="../static/css/flip.css" rel="stylesheet">

<title>Chiasse au tresor</title>
{%endblock%}
{%block middlecolumn%}
<style>

  .image-list-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap : 10px;
  }
  .list-item {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
}

.picture {
  width: 20%;
  height: 0;
  padding-bottom: 20%; /* Creates a square shape */
}

.content {
  flex-grow: 1;
  margin-left: 10px;
}

.name {
  margin: 0;
  font-size: 18px;
}

.time {
  margin: 0;
  font-size: 14px;
  color: #888;
}


    /* Add CSS styles for the form */
    .form-container {
        text-align: center;
        margin-top: 20px;
    }

    /* Style the labels */
    label {
        display: block;
        font-size: 30px; /* Adjust the font size as needed */
        color: black;
    }

    /* Style the input fields */
    input[type="text"] {
        width: 80%;
        color : black;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 25px; /* Adjust the font size as needed */
    }

    /* Style the submit button */
    input[type="submit"] {
        background-color: #ff0000; /* Change the button color as desired */
        color: white;
        padding: 10px 20px;
        font-size: 25px; /* Adjust the font size as needed */
        border: none;
        cursor: pointer;
    }
</style>
<div id="wholepq" style="text-align: center;">
  <div style="width:80%;margin : auto;padding-bottom: 200px;padding-top:100px">
    <div class="container">
      <h1 style="color : black;font-family: 'BFFont';">Salut trouducul !</h1>
      <h1 style="color : black;font-family: 'BFFont';">Bienvenue dans notre grande Chiasse au Tresor !</h1>
        </div>
 
        <div class="form-container">
          <form action="/addscore/{{ name }}" method="POST">
              <label for="name">Entre ton nom de Blaireau</label>
              <input type="text" id="name" name="name" required>
              <br>
              <label for="mail">Et ton mail de Tocard</label>
              <input type="text" id="mail" name="mail" required>
              <br>
              <p style="color:black; width : 60%; margin:auto">Attention, tu ne pourras plus les changer, et il faudra te souvenir de ton mail pour ajouter d'autres découvertes de lieu à ton actif !</p>
              <input type="submit" value="Envoyer">
          </form>
      </div>
      </div>
      
     
  </div>















  </div>





</div>


{%endblock%}