<!-- this specifies the inheritance with base.html, so I'll use the same template -->
{%extends "base.html"%}
{%block head%}
<!-- Here I add some things in the previous defined head block -->
<meta name="description" content="Pour prendre contact avec nous">
<!-- <link href="../static/css/blog.css" rel="stylesheet"> -->
<title>Contacter Brutal Fekal</title>
{%endblock%}

{%block middlecolumn%}
<div id="wholepq" >
  <!-- this thing is helpfull, as you saw in the app.py file, there's some flash things
  that's the way to display it to the user -->
    {% with messages = get_flashed_messages()%}
    {%if messages%}
    {%for msg in messages%}
    <p>{{msg}}</p>
    {% endfor%}
    {%endif%}
    {%endwith%}
<h1 style="max-width: 50%;margin: auto;">Tu veux nous chier à la raie en beauté, savoir ce qu'il se passe et tout par là ??? Qu'à cela ne tienne j'ai ça :</h1>

<p>Petit texte ici pour dire que bah on a plus de pq</p>

<!-- Here the sacrosaint form ! in action, you'll have to specify the route you'll use in you're app.py file -->
<!-- Then you can add as many input as you want, use their name attribute to retrive data later in the app.py file -->
<form class="" action="/sendmessage" method="POST">
    <div class="align-items-center">
      <p class=" mb-3 fw-normal">Raison de ta diarhée</p>
      <div class="center form-floating w-25" style="margin:auto">
        <input type="text" class="form-control  " id="floatingInput2" name="objet" required placeholder="Objet">
        <label for="floatingInput">Chiasse</label>
      </div>
      <p class=" mb-3 fw-normal">Ton Fekal name</p>
      <div class="center form-floating w-25 mb-3 fw-normal" style="margin:auto">
        <input type="text" class="form-control" id="floatingInput2" name="name" required placeholder="Ton nom">
        <label for="floatingInput">Fekal name</label>
      </div>
      <p class=" mb-3 fw-normal">L'adresse à laquelle on pourra te  Fekaliser</p>
      <div class="center form-floating w-25 mb-3 fw-normal" style="margin:auto">
        <input type="email" rows="5" cols="80" class="form-control" id="floatingInput" name="mail"
          placeholder="name@example.com" required>
        <label for="floatingInput">Brutal Adresse</label>
      </div>
      <p class=" mb-3 fw-normal">Ce que t'as à nous dire quoi</p>
      <div class=" form-floating align-items-center justify-content-center">
        <textarea name="corpsmail" rows="5" cols="50"></textarea>


      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" name="newsletter" value="newsletterinscription"> S'inscrire à la newsletter au
          passage
        </label>
      </div>

     <!-- This submit button will trigger the send of the form -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Tirer la chasse</button>
    </div>


</div>

{%endblock%}