{%extends "base.html"%}
{%block head%}
<link rel = "icon" href = 
"../static/images/logo/logo.png" 
        type = "image/x-icon">
<script src="https://cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"></script>
<script src="../static/js/game.js"></script>


<link href="../static/css/cookies.css" type="text/css" rel="stylesheet"/>
<title>Brutal Fekal</title>

{%endblock%}


{%block middlecolumn%}
<div id="wholepq"  style="text-align: center;">

  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <h1 style="font-family: 'BFFont';font-size: 3em; padding-top: 60px;color:black">Bienvenue sur le site de Brutal Fekal</h1>
  <div style="width: 70%;text-align: center; margin: 0 auto;color:#666;">
    <div style="width:90%;margin:auto ; text-align: justify;">

      <p style="color:#777;text-justify: distribute;">Brutal Fékal, c’est avant tout des gens qui font chier. Venant de la région nantaise et étant peu originaux, iels tentent de développer une identité bretonne en s’installant à Rennes.
      Formé.es au début de l’année 2021 après un titre, les trois loustiques
      en écrivent un second, puis un troisième, avant de se dire qu’après tout, un album entier qui dénonce la fékalisation 
      de la société, c’est ce qui manque actuellement à l’humanité.
      Few Racks Sheep et Ballzzy rencontrent Scratman durant le lycée. Rapidement, iels deviennent potes, discutant 
      en plein après-midi de choses inintéressantes autour de canettes à fort degré d’alcool pour un faible coût. Étant des musicien.nes 
      d’une qualité relativement claquée au sol et se produisant dans divers groupes, iels décident de tout abandonner suite à leur installation 
      à Rennes. Cependant, ayant perdu toute foi en l’humanité, les chieur.ses se réunissent de nouveau, en se disant que si la société va mal, 
      autant la soigner avec quelque chose d’encore pire : des chansons à chier.
    </p>

    </div>

</div>
  <div style="margin-bottom: 300px;" id="game-container">
  </div>



</div>

<div id="cookiePopup" class="show" style="position: fixed;">
  <img src="../static/assets/coin.png" />
  <p>
   Contrairement aux autres sites qui utilisent des cookies,
   Nous on le fait pas parce qu'on en a rien à foutre de savoir
   que vous utilisez du PQ Lotus ou un autre qui gratte plus.
   Donc on a quand même mis une bannière pour vous le dire.
    <a href="/nocookies">Voir notre politique de non cookies</a>
  </p>
  <button id="acceptCookie">Accepter qu'on s'en branle</button>
</div>
<script src="../static/js/cookies.js"></script>

      {%endblock%}



  <body>


  
  </body>
 
  <!-- Script -->
