{%extends "base.html"%}
{%block head%}
<meta name="description" content="Nos plus fraiches diarées">
<link href="../static/css/blog.css" rel="stylesheet">
<link href="../static/css/flip.css" rel="stylesheet">

<title>Fekal News</title>
{%endblock%}
{%block middlecolumn%}
<main class="container" id="wholepq">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark" style="padding-right : 0px !important;">
      <div class="row">


        <div class="col-md-6 px-0" >
          <h1 class="display-4 fst-italic" style="color:white">SORTIE DE L’ALBUM BUKOLIK !</h1>
          <p style="color:white">
            Après tant de mois (bon d’années ok) à vous en parler, le voilà !
            Notre album Bukolik arrivera le 6 octobre 2023, incluant vos morceaux préférés déjà sortis !
            Composé par Few Racks Sheep, Ballzzy et Scratman, avec une multitude de guests présent.es, il saura satisfaire petit.es et grand.es !
          L’incroyable artwork de l’album, comme ceux des morceaux, a été réalisé par Few Racks Sheep. Ballzzy a réalisé le mixage et le mastering des morceaux, et les enregistrements ont été faits dans nos chambres. Un album 100% authentique et auto-produit donc !
          On a très hâte de le sortir et d’avoir vos retours !
        </p>
      </div>
      <div class="col-md-6 px-0 d-flex justify-content-center align-items-center"  >
        <img class="bd-placeholder-img"  width="70%" src="/static/images/news/cover.jpg"/>        
        
      </div>
    </div>

    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm  position-relative" style="background-color: white;">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Mendicité</strong>
            <h3 class="mb-0">AIDEZ NOUS DANS NOTRE PROJET</h3>
            <div class="mb-1 text-muted">Mai 23</div>
            <p class="card-text mb-auto" style="color:black;font-size: large;">
              On a besoin de vous !
Nous avons ouvert une campagne de dons via kickstarter. L’idée est pour nous de financer divers projets, tels que des clips, du merchandising et le financement du pressage de l’album. Tu peux déjà précommander ton CD via la plateforme si cela te fait plaisir, ou nous faire un simple don sans contrepartie. Évidemment, rien n’y oblige, le plus important restant que tu kiffes notre son !

            </p>
            <a href="#" class="stretched-link">Aller nous donner de la moula</a>
          </div>
          <div class="col-auto  d-lg-block d-flex justify-content-center align-items-center" style="width: 40%;" >
            <img class="bd-placeholder-img" width="100%" src="/static/images/news/pq.jpg"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm  position-relative" style="background-color: white;">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Tech</strong>
            <h3 class="mb-0">ON A UN SITE !	</h3>
            <div class="mb-1 text-muted">Mai 23</div>
            <p class="mb-auto" style="color:black;font-size: large;">Un brutal groupe se doit d’avoir un brutal site ! C’est à cette occasion que nous avons le plaisir de vous présenter le site internet officiel de Brutal Fékal ! Développé par Ballzzy et élaboré conjointement avec tous les membres, vous pourrez retrouver toutes les informations du groupe que vous chérissez le plus. En espérant qu’il vous plaise !

            </p>
            <a href="/" class="stretched-link">Retour a l'accueil</a>
          </div>
          <div class="col-auto   justify-content-center align-items-center" style="height:100%">
            <img  src="/static/images/news/ordi.jpg"/>          </div>
        </div>
      </div>



      <br/>
     


{%endblock%}