{%extends "basegroupe.html"%}
{%block head%}
<link href="../static/css/notregroupe.css" type="text/css" rel="stylesheet" />
<title>Ze band Brutal Fekal</title>
{%endblock%}
{%block leftcolumn%}
<div width="100%" style="padding-top:200px;">
  <img class="nous" src="../static/images/nous/fewracks.jpg" width="100%" />
</div>
<div width="100%" style="padding-top:50px;">
</div>
{%endblock%}
{%block middlecolumn%}
<div style="width:100%;background-color: rgba(0, 0, 0, 0.0);">
  <h2 style="font-family: 'BFFont';font-size: 5em; padding-top: 60px;color:black">Brutal Members</h2>
  <p style="font-family: 'BFFont'; color:black"> </p>
</div>

<div class="timeline">
  <div class="row">
    <div class="bordercol">

    </div>
    <div class="middlecol">


      <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1"
        style="margin-right: 0px;width: 100%;">
        <div class="timeline__event__icon " style="background-image: url('../static/images/logo/microphone.png');
    background-size:40px;background-repeat: no-repeat;background-position: center;">
          <i class="lni-cake"></i>

        </div>
        <div class="timeline__event__date">
          Chant/Basse
        </div>
        <div class="timeline__event__content ">
          <div class="timeline__event__title">
            Few Racks Sheep
          </div>
          <div class="timeline__event__description">
            <p style="color:black">
              Few Racks Sheep possède un rapport particulier à la fékalité. En effet, cette dernière occupe une grande
              partie de son temps.
              Lorsque les gens normaux gueulent parce que leur trajet a duré 4h au lieu d’une à cause des bouchons, Few
              Racks Sheep ne ronchonne pas.
              En effet, après avoir eu l’expérience d’une chiasse soudaine durant un long trajet, elle a réalisé que
              prendre son temps était quelque chose
              d’important (surtout lorsque l’on conduit une Twingo (et la Twingo I, pas la nouvelle hein)). Durant tout
              le trajet, elle s’est arrêtée sur chaque aire, et aucune chiotte n’a été épargnée. L’odeur de gaz est
              toujours très présente sur les sièges.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bordercol">
      <img class="nous" src="../static/images/nous/fewracks.jpg" width="100%" />
    </div>
  </div>

  <div class="row">
    <div class="bordercol">
      <img class="nous" src="../static/images/nous/ballzzy.jpg" width="100%" />

    </div>

    <div class="middlecol">



      <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2"
        style="margin-right: 0px;width: 100%;">
        <div class="timeline__event__icon " style="background-image: url('../static/images/logo/guitar.png');
    background-size:40px;background-repeat: no-repeat;background-position: center;">
          <i class="lni-burger"></i>

        </div>
        <div class="timeline__event__date">
          Guitare
        </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">
            Ballzzy
          </div>
          <div class="timeline__event__description">
            <p style="color:black">
              Ballzzy a toujours été passionné de musique de merde. Fan de Tintin, présent tout autour de lui lorsqu’il
              se pose sur le trône, il est aussi l’un des cofondateurs de l’UriFest, célèbre évènement se déroulant au
              sein
              des toilettes
              de son lycée. Malgré des désaccords permanents avec l’administration, les sets merdiques furent nombreux.
              A
              cause de troubles
              dus à la perte d’un de ses attributs dont il tire son nom, Ballzzy est actuellement en pause,
              mais c’est bien sûr pour mieux revenir !

            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="bordercol">

    </div>



  </div>



  <div class="row">
    <div class="bordercol">

    </div>
    <div class="middlecol">


      <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3" style="margin-right: 0px;width: 100%;">
        <div class="timeline__event__icon " style="background-image: url('../static/images/logo/drum.png');
        background-size:40px;background-repeat: no-repeat;background-position: center;">
          <i class="lni-slim"></i>
    
        </div>
        <div class="timeline__event__date">
          Batterie </div>
        <div class="timeline__event__content">
          <div class="timeline__event__title">
            Scratman
          </div>
          <div class="timeline__event__description" style="color:black">
            <p style="color:black">
              Scratman est un vrai chieur depuis toujours. Dès le collège, il commence à dégonder des portes de chiottes
              pour s’amuser. Aimant
              les toilettes spacieuses et insonorisées, son passage ne reste pas anonyme au vu du nombre d’odorats qu’il a
              cassé. Le summum eu lieu durant
              l’été 2020, où après deux semaines de constipation et une consommation quotidienne d’Hépar, il détruisit
              finalement les
              toilettes de Ballzzy à la suite d’une soirée arrosée. Son fantasme est de voir quelqu’un rentrer dans les
              toilettes qu’il vient de redécorer.
            </p>
          </div>
    
        </div>
      </div>


    </div>


    <div class="bordercol">
      <img class="nous" src="../static/images/nous/scratman.jpg" width="100%" />

    </div>

  </div>



  <div class="row">
    <div class="bordercol">


    </div>
      <div class="middlecol">



        <div class="timeline__event animated fadeInUp timeline__event--type1" style="margin-right: 0px; width: 100%; flex-direction: row-reverse;">
          <div class="timeline__event__icon " style="background-image: url('../static/images/logo/guests.png');
          background-size:40px;background-repeat: no-repeat;background-position: center;">
            <i class="lni-cake"></i>
      
          </div>
          <div class="timeline__event__date">
            Un peu tout
          </div>
          <div class="timeline__event__content">
            <div class="timeline__event__title">
              Les Guests
            </div>
            <div class="timeline__event__description">
              <p>passage émotif</p>
            </div>
          </div>
        </div>


      </div>

<div class="bordercol">


    </div>


  </div>


</div>
{%endblock%}

{%block rightcolumn%}
<div width="100%" style="padding-top:400px;">
</div>
{%endblock%}