{%extends "base.html"%}
{%block head%}
<meta name="description" content="L'histoire d'un groupe, qui pour sur, restera dans les annales XD">
<link href="../static/css/timeline2.css" type="text/css" rel="stylesheet" />
<!-- <script src="../static/js/timeline.js"></script> -->
<title>Succes Story</title>

{%endblock%}
{%block middlecolumn%}
<div id="wholepq" style="text-align: center;">

  <div class="section-header">
    <h2 style="padding-top: 40px;font-family: 'BFFont';font-size: 3em; padding-top: 60px;color:black"">Our story</h2>
    <hr>
  </div>
  <div class=" steps" style="margin-bottom: 200px;">
      <div class="steps-container">
        <div class="content">
          <h2>La rencontre</h2>
          <p>Rencontre de Scratman sur le parking du lycée de Ballzzy et Few Racks Sheep autour d'une canette
            (probablement une Maximator 11.6)

          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">2016</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Friend of shame</h2>
          <p>Apres un premier plan foireux dans la musique, Few Racks et Ballzzy ne perdent pas espoirs, grillant leur
            premier ampli</p>
        </div>
        <i class="step-line"></i>
        <div class="date">2017</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Premières traces</h2>
          <p>Pétage des chiottes après une soirée bien arrosée
          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">2018</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Une nouvelle vie</h2>
          <p> Arrivée des membres du groupe sur Rennes, quittant la région nantaise.
          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">2018-2019</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>La genèse</h2>
          <p>Scratman vit une délivrance et pète les chiottes de Ballzzy après 15 jours de constipation.
          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">Juillet 2020</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p> Écriture et enregistrement de C 2 la merde</p>
        </div>
        <i class="step-line"></i>
        <div class="date">Décembre 2020</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>La révélation</h2>
          <p> Sortie de c 2 la merde</p>
        </div>
        <i class="step-line"></i>
        <div class="date">Janvier 2021</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2></h2>
          <p> Création officielle et sérieuse (source : tqt) de Brutal Fékal, projet d’album
          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">Mai-juin 2021 </div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p> Ballzzy chute lamentablement avec sa bécane. Malgré son bras droit bien amoché, il rentre tout de même
            pour enregistrer le pont de Ma Bécane, avant de se diriger vers l’hôpital.
          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">Juin 2021</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p>Brutal week : Semaine dédiée à l’écriture de nouveaux morceaux, à l’enregistrement de morceaux déjà
            composés chez les parents de Ballzzy (chez qui on a cassé les chiottes).

          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">Juillet 2021</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p> Ballzzy travaille à Intermarché, cela fait couler beaucoup d'encre
          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">Eté 2021</div>
      </div>

      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p> Composition et enregistrement des morceaux de
          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">2021 2022</div>
      </div>

      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p> Début des répétitions hebdomadaires.
          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">Septembre 2022</div>
      </div>
      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p> Premier concert au Gazoline à Rennes, vu pour certains depuis les toilettes car trop de monde était
            présent.

          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">12 novembre 2022</div>
      </div>

      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p> mix et mastering de l’album.


          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">Fin 2022 / 2023 </div>
      </div>

      <div class="steps-container">
        <div class="content">
          <h2>Une diarhée commune</h2>
          <p>
            retraite spirituelle de Ballzzy en Angleterre.



          </p>
        </div>
        <i class="step-line"></i>
        <div class="date">Janvier-Juin 2023</div>
      </div>
      
  </div>



</div>
</div>








{%endblock%}