{%extends "base.html"%}
{%block head%}
<meta name="description" content="L'histoire d'un groupe, qui pour sur, restera dans les annales XD">
<link href="../static/css/timeline2.css" type="text/css" rel="stylesheet" />
<!-- <script src="../static/js/timeline.js"></script> -->
<title>Succes Story</title>

{%endblock%}
{%block middlecolumn%}
<div id="wholepq">

  <div class="section-header">
    <h2 style="padding-top: 40px;font-family: 'BFFont';font-size: 3em; padding-top: 60px;color:black"">Our story</h2>
    <hr>
  </div>
  <div class="steps">
    <div class="steps-container">
      <div class="content">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
      <i class="step-line"></i>
      <div class="date">2000</div>
    </div>
    <div class="steps-container">
      <div class="content">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
      <i class="step-line"></i>
      <div class="date">2001</div>
    </div>
    <div class="steps-container">
      <div class="content">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
      <i class="step-line"></i>
      <div class="date">2002</div>
    </div>
    <div class="steps-container">
      <div class="content">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
      <i class="step-line"></i>
      <div class="date">2003</div>
    </div>
    <div class="steps-container">
      <div class="content">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
      <i class="step-line"></i>
      <div class="date">2004</div>
    </div>
    <div class="steps-container">
      <div class="content">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
      <i class="step-line"></i>
      <div class="date">2005</div>
    </div>
  </div>
  </div>
</div>








{%endblock%}