{%extends "base.html"%}
{%block head%}
<link rel="stylesheet" type="text/css" href="../static/css/imggalery.css" />
<link href="../static/css/flip.css" rel="stylesheet">
<title>Brutal Bangers - Brutal Fekal</title>
{%endblock%}
{%block middlecolumn%}
<h3 style="font-family: 'BFFont';font-size: 3em; padding-top: 60px;color:black">Et ouais car tous les groupes n'ont pas Few Racks Sheep pour faire des dessins de malade pour
  chacunes des chansons
  Prépare tes oreilles et vérifie que les chiottes sont libres (et qu’il reste du PQ) !
</h3>

<h1 style="color:black;padding-top:30px;">C 2 la merde</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/c2lamerde.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> C 2 la merde </h1>
      <div class="column">
        <p class="lyricline">C1</p>
        <p class="lyricline">Je ne pensais pas que tu arriverais</p>
        <p class="lyricline">Si peu de temps après le déjeuner</p>
        <p class="lyricline">J'ai voulu rentrer car tu voulais sortir</p>
        <p class="lyricline">Je reste gainé pour pas t'laisser partir</p>
        <p class="lyricline">Je suis enfin en bas de mon immeuble</p>
        <p class="lyricline">vite, je vais déplacer mes meubles</p>
        <p class="lyricline">S'il te plaîit, Encore un instant</p>
        <p class="lyricline">Mais où sont mes clefs... Hooo NaaAN !</p>
        <p class="lyricline">Refrain</p>
        <p class="lyricline">Contrairement au Havre mon trou n'est pas de paix</p>
        <p class="lyricline">Dans cette pièce libre je fais ce qu'il me plaît</p>
        <p class="lyricline">J'regrette le mexicain, le chili con carne</p>
        <p class="lyricline">J'ai jamais eu aussi mal après être aller chier</p>
        <p class="lyricline">C2</p>
        <p class="lyricline">La porte fermée j'enclenche le loquet</p>
        <p class="lyricline">Face à face avec Giscard c'est mon destin</p>
        <p class="lyricline">Ce trône, je vais l'atomiser</p>
        <p class="lyricline">La tsar-bomba sort de mes intestins</p>
        <p class="lyricline">Après l’effort, j'expire un grand coup</p>
        <p class="lyricline">Je perds du poids, quelques kilo</p>
        <p class="lyricline">j'réalise Lorsque j'regarde le trou</p>
        <p class="lyricline">Que lA matière A absorbé l'eauuu</p>

      </div>
      <div class="column">



        <p class="lyricline">PONT</p>
        <p class="lyricline">Quelques feuilles de lotus </p>
        <p class="lyricline">Effacent le passage de l’Airbus</p>
        <p class="lyricline">Le febreze camoufle l'odeur</p>
        <p class="lyricline">de cette dure heure de labeur</p>
        <p class="lyricline">REFRAIN #2</p>
        <p class="lyricline">Contrairement au havre mon trou n'est pas de paix</p>
        <p class="lyricline">Dans l'commissariat je fais ce qu'il me plaît</p>
        <p class="lyricline">J'regrette le mexicain, le chili con conde</p>
        <p class="lyricline">j'ai jamais eu aussi mal après une GAV</p>
      </div>
    </div><!-- .card__back -->
  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">L'usine à merde</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/usine.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> L'usine à merde </h1>
      <div class="column">
        <p class="lyricline">INTRO
        <p class="lyricline">La fraîcheur de la matinée</p>
        <p class="lyricline">RéveilLE les cernes creusées</p>
        <p class="lyricline">Par les gestes perpétuels</p>
        <p class="lyricline">D'une mécanique éternelle</p>
        <p class="lyricline">Car... Oui... Moi...</p>
        <p class="lyricline">Je bosse... pour l'usine à merde !</p>
        <p class="lyricline">C1 </p>
        <p class="lyricline">L'usine à merde est un mécanisme </p>
        <p class="lyricline">Soeur jumelle de l'absolutisme</p>
        <p class="lyricline">Cousine sexy de Big Brother</p>
        <p class="lyricline">Elle vous fera passer de sales quarts d'heures</p>
        <p class="lyricline">Car oui les quarts d'heures s'y enchaînent</p>
        <p class="lyricline">à la vitesse de vieux par centaines</p>
        <p class="lyricline">Les trois huit te rendent fou</p>
        <p class="lyricline">Et déréglent l'heure de ton pouls</p>
        <p class="lyricline">REFRAIN</p>
        <p class="lyricline">POURING, poo in your society</p>
        <p class="lyricline">POURING, poo in your economy</p>
        <p class="lyricline">POURING, poo in your democracy</p>
        <p class="lyricline">POURING, poo in your factory</p>
        <p class="lyricline">POURING, poo in your army</p>
        <p class="lyricline">AND PAIN IN THE ASS OF YOUR POLICE</p>
      </div>
      <div class="column">

        <p class="lyricline"> C2</p>
        <p class="lyricline">FTN, Flop trans neptunien</p>
        <p class="lyricline">Goutte d'eau sur ton popotin</p>
        <p class="lyricline">Elle te regarde quand tu fais caca</p>
        <p class="lyricline">et s'fait torcher l'cul par tous les sénats</p>
        <p class="lyricline">Toute puissante elle me fait gerber</p>
        <p class="lyricline">Mais j'continue pour payer mon loyer</p>
        <p class="lyricline">Elle chie sur touS les écosystèmes</p>
        <p class="lyricline">ET OUAIS, CAR C'EST DES USINES À mERDE</p>
        <p class="lyricline">PONT</p>
        <p class="lyricline">L'usine à merde c'est plus que ça</p>
        <p class="lyricline">C'est toute cette société qui puE le caca</p>
        <p class="lyricline">C3</p>
        <p class="lyricline">Leurs merdes toxiques ne font pas d'engrais</p>
        <p class="lyricline">Comme une bonne chiasse je l'expulserai</p>
        <p class="lyricline">Et même si notre merde est bien gore</p>
        <p class="lyricline">Comme celle de Manzoni elle vaut de l'or</p>
        <p class="lyricline">On continuera à chier gorge déployéE </p>
        <p class="lyricline">à péter des anus à coup de diarrhée</p>
        <p class="lyricline">D'étaler notre merde sur la société</p>
        <p class="lyricline">Pour enfin entendre nos voix résonner </p>
      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">Ma bécane</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/mabecane.jpg">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> Ma bécane </h1>
      <div class="column">
        <p class="lyricline"> C1</p>
        <p class="lyricline">à 50 dans les zones 30</p>
        <p class="lyricline">Avec ma bécane, j'vais plus vite quand c'est en pente</p>
        <p class="lyricline">Un vent de liberté coiffe mes cheveux</p>
        <p class="lyricline">Pas d'casque, ça c'est pour les p'titS vieux</p>
        <p class="lyricline">ça dérape dans les virages</p>
        <p class="lyricline">Ouais j'roule sur les jantes</p>
        <p class="lyricline">2 grammeS dans chaque nageoire Vraiment une sacrée descente</p>
        <p class="lyricline">REFRAIN</p>
        <p class="lyricline">En Y sur les dos d'âne</p>
        <p class="lyricline">Rien ni personne arrête ma bécane</p>
        <p class="lyricline">La 8'6 dans le porte-gourde</p>
        <p class="lyricline">Ce breuvage sacré mérite sa fontaine à Lourdes</p>
        <p class="lyricline">Fébrile dans les ronds points</p>
        <p class="lyricline">J'ai toujours une pompe à portÉe d'main</p>
        <p class="lyricline">Quand t'appuies sur les freins </p>
        <p class="lyricline">Y s'passe rien !</p>
        <p class="lyricline">J'ai encore renversé une vieIlle...</p>
        <p class="lyricline">putain !</p>
        <p class="lyricline">PONT 1</p>
        <p class="lyricline">Avec ma bécane je vole au dessus du bitume</p>
        <p class="lyricline">Tel un surfeur glissant sur l'écume</p>
        <p class="lyricline">Je navigue à vue vers ma destinée</p>
        <p class="lyricline">Le prochain virage à pas louper </p>
      </div>
      <div class="column">
        <p class="lyricline"> C2</p>
        <p class="lyricline"> J'roule sans selle c'est plus marrant</p>
        <p class="lyricline"> Quand y'a un nid d'poule bah j'serre les dents</p>
        <p class="lyricline"> Je sens passer le manque de suspensions</p>
        <p class="lyricline"> En terrain accidenté j'tiens bien mon guidon</p>
        <p class="lyricline"> BREAK DOWN</p>
        <p class="lyricline">J'fais des roues arrière dans l'cul d'ta madre</p>
        <p class="lyricline">Du cross dans le terrain vague j'ai dérayé</p>
        <p class="lyricline">Entre les gravas, les pipelines et les pavés</p>
        <p class="lyricline">DestriER de métal fonce vers la voix lactée</p>
        <p class="lyricline">PONT 2 </p>
        <p class="lyricline">Un pack de leffe sur l'porte bagage</p>
        <p class="lyricline">Dans les montées y faut qu'j'm'hydrate</p>
        <p class="lyricline">Je laisse des traces de mon passage</p>
        <p class="lyricline">Au guidon du bolide j'suis l'roi d'l'asphalte</p>
      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">Kafé, Klope, Kaka</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/c2lamerde.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> Kafé, Klope, Kaka </h1>
      <div class="column3">
        <p class="lyricline"> C1</p>
        <p class="lyricline">J'me réveille, j'suis en caleçon</p>
        <p class="lyricline">J'recale ma couille qui dépasse</p>
        <p class="lyricline">J'capte que j'suis en retard quel con</p>
        <p class="lyricline">Faut qu'j'émerge, ça m'tracasse</p>
        <p class="lyricline">J'commence à cuire mon casse-croûte </p>
        <p class="lyricline">J'croque ça en quelque secondes</p>
        <p class="lyricline">J'prends mon café ma p'tite blonde</p>
        <p class="lyricline">J'irai taffer quoi qu'il en coÛTe</p>
        <p class="lyricline">J'prends ma caisse, J'dois pas caler</p>
        <p class="lyricline">Mon cœur bat à quatRe cent à l'heure </p>
        <p class="lyricline">Grand conducteur à la Paul Walker</p>
        <p class="lyricline">J'crois que j'arriverai dans l'quart d'heure</p>
        <p class="lyricline">J'cale mon plus beau créneau</p>
        <p class="lyricline">J'laisse ma Kia au parking</p>
        <p class="lyricline">Quand j'entre dans le bureau</p>
        <p class="lyricline">Le patron m'croise et fait l'King</p>
        <p class="lyricline">Convoqué, j'commence à flipper </p>
        <p class="lyricline">Flemme d'être licenciÉ j'veux pas crever</p>
        <p class="lyricline">ça casse les couilles, le réveil qui sonne pas</p>
        <p class="lyricline">J'ai pas faiT tout ça pour rentrer chez moi</p>
        <p class="lyricline">PONT</p>
        <p class="lyricline">j'appréhende le pire, j'marche dans l'couloir</p>
        <p class="lyricline">J'ai pas d'excuse cette heure va être noire</p>
        <p class="lyricline">Et en fait quand j'arrive il m'propose un café</p>
        <p class="lyricline">Poli j'accepte, mais j'ai trop envie de déféquer</p>

      </div>
      <div class="column3">

        <p class="lyricline"> REFRAIN</p>
        <p class="lyricline">KAFé, KLOPE, KAKA</p>
        <p class="lyricline">KAFé, KLOPe, KAKA</p>
        <p class="lyricline">Jamais ton colon n'le supportera</p>
        <p class="lyricline">Mais comme t'as pas l'choix tu te retiendras</p>
        <p class="lyricline">KAFé, KLOPe, KAKA</p>
        <p class="lyricline">KAFé, KLOPE, KAKA</p>
        <p class="lyricline">TU TE DEMANDEs VRAIMENT C'QUE TU FOUS Là</p>
        <p class="lyricline">TU T'RENDs COMPTE QU'C'EST LA MERDE POUR TON CONTRAT</p>
        <p class="lyricline">C2</p>
        <p class="lyricline">J'suis resté lucide malgré c'qui m'arrive</p>
        <p class="lyricline">J'sors de la salle et cours de toutes mes forces</p>
        <p class="lyricline">quelle est la bonne porte, vite ça se corse</p>
        <p class="lyricline">à l'intérieur j'suis sur l'qui vive</p>
        <p class="lyricline">Aucun ne m'a vu, j'suis sacrément couillu</p>
        <p class="lyricline">Heureusement dans l'couloir pas d'caméra</p>
        <p class="lyricline">J'vais déverser un gros Kaméaméa</p>
        <p class="lyricline">J'enlève mon froc et pose enfin mon cul</p>
        <p class="lyricline">JE Lâche UNE éNORME CAISSE</p>
        <p class="lyricline">Mais j'entends une porte qui claque</p>
        <p class="lyricline">j'me fais discret je serre les fesses</p>
        <p class="lyricline">Mais ça fait plouf comme dans une flaque </p>
        <p class="lyricline">C'est sorti d'un coup j'suis torché</p>
        <p class="lyricline">Bien rhabillé j'ouvre la porte</p>
        <p class="lyricline">Et qu'à cela n'tienne y'a l'boss fâché</p>
        <p class="lyricline">Je repars donc sous bonne éscorte</p>
      </div>
      <div class="column3">

        <p class="lyricline">C3 </p>
        <p class="lyricline">j'crois qu'il va me casser la gueule</p>
        <p class="lyricline">Il a vu que j'taffais moins qu'les autres</p>
        <p class="lyricline">Soi disant j'suis mauvais apôtre</p>
        <p class="lyricline">Dans mon corps c'est le zbeule</p>
        <p class="lyricline">Je prend mes cliques et mes claques</p>
        <p class="lyricline">J'dis adieu à mes compagnons</p>
        <p class="lyricline">T'façon j'étais trop patraque</p>
        <p class="lyricline">Ce boulot c'était de l'exploitation</p>
        <p class="lyricline">PONT</p>
        <p class="lyricline">KKK KKK, </p>
        <p class="lyricline">KKK KKK, </p>
        <p class="lyricline">Kafé, Klope, Kaka</p>
        <p class="lyricline">KKK KKK, </p>
        <p class="lyricline">KKK KKK, </p>
        <p class="lyricline">REFRAIN #2</p>
        <p class="lyricline">KAFé, KLOPE, KAKA</p>
        <p class="lyricline">KAFé, KLOPE, KAKA</p>
        <p class="lyricline">c'EST CE QUI fait que tu perds ton emploi</p>
        <p class="lyricline">pLUS AUCUN PATRON NE VOUDRA DE TOI</p>
        <p class="lyricline">KAFé, KLOPE, KAKA</p>
        <p class="lyricline">KAFé, KLOPE, KAKA</p>
        <p class="lyricline">TU VIVRA DU CHoMAGE LES PROCHAINS MOIS</p>
        <p class="lyricline">T'AURAS QU'UN Plat D'PaTEs ET TON RSA</p>

      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">La caissière de chez inter</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/caissiere.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> La caissière de chez inter </h1>
      <div class="column">
        <p class="lyricline"> C1</p>
        <p class="lyricline">On s'est rencontrés au rayon PQ</p>
        <p class="lyricline">J't'ai sûrement dit qu'j'en pouvais plus</p>
        <p class="lyricline">J'ai tout d'suite su que j'étais foutu </p>
        <p class="lyricline">Alors que tu t'tenais devant mon salut</p>
        <p class="lyricline">Tu t'étais mise de l'eyeliner</p>
        <p class="lyricline">Au rayon cuisson vapeur</p>
        <p class="lyricline">Et j'ai remarqué qu't'étais maquillée</p>
        <p class="lyricline">Aux environs du rayons PD</p>
        <p class="lyricline">YEAH ! </p>
        <p class="lyricline">J'admirais le bas d'ta frange</p>
        <p class="lyricline">Quand j'te voyais traîner d'vant la boulange</p>
        <p class="lyricline">Le summum de mon ressenti</p>
        <p class="lyricline">ce fit au rayon poissonnerie</p>
        <p class="lyricline">J'aperçus ton boule alors que tu achetais des moules</p>
        <p class="lyricline">REFRAIN</p>
        <p class="lyricline">C'est au détour d'un regard complice</p>
        <p class="lyricline">Que j'ai tâché mon calfouette</p>
        <p class="lyricline">Elle gerbait des 8'6 </p>
        <p class="lyricline">En haut du rayon cannettes</p>
        <p class="lyricline">C'est sûr qu'elle a tout pour plaire </p>
        <p class="lyricline">La caissière de chez inter</p>
        <p class="lyricline">Elle chauffe sans effet d'serre </p>
        <p class="lyricline">La caissière de chez inter</p>
      </div>
      <div class="column">
        <p class="lyricline">C2</p>
        <p class="lyricline">Un aileron d'requin déformait mon pantalon</p>
        <p class="lyricline">devant le charme transcendant du bout du rayon</p>
        <p class="lyricline">venus ne résistera pas au charme d'APOlLON</p>
        <p class="lyricline">à moins que je ne succombe à l'appel de mon colon</p>
        <p class="lyricline">J'ai cru que tu étais LARA CROFT</p>
        <p class="lyricline">avec la scannette et les seins</p>
        <p class="lyricline">Puis la tresse au rayon soft</p>
        <p class="lyricline">à la croisée des destins</p>
        <p class="lyricline">Dans un flash, Une douleur fulgurante</p>
        <p class="lyricline">L'impact de la matraque contre la trique</p>
        <p class="lyricline">J'arrête là ma tirade les jambes tremblantes</p>
        <p class="lyricline">Le videur a eu raison de ma réplique</p>
        <p class="lyricline">PONT </p>
        <p class="lyricline">HOHOHO</p>
      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">La malbouffe</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/lamalbouffe.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> La malbouffe </h1>
      <div class="column">
        <p class="lyricline"> INTRO</p>
        <p class="lyricline">Je rêve de Bio et de brunch bobo</p>
        <p class="lyricline">De légumes frais et de pruneaux</p>
        <p class="lyricline">De topinambours et de poireaux</p>
        <p class="lyricline">J'aime bien la bonne bouffe mais mon porte monnaie m'impose la malbouffe</p>
        <p class="lyricline">C1 </p>
        <p class="lyricline">Société de l'apparence hypocrite</p>
        <p class="lyricline">Noyée sous la corne d'abondance tu profites </p>
        <p class="lyricline">Et regarde la population gonfler</p>
        <p class="lyricline">Gavée par la nourriture préfabriquée</p>
        <p class="lyricline">Les défavorisés sont le public ciblé</p>
        <p class="lyricline">REFRAIN</p>
        <p class="lyricline">Les politiques complices</p>
        <p class="lyricline">Les industries coupables</p>
        <p class="lyricline">La malbouffe empoisonne nos cacas</p>
        <p class="lyricline">Mange de la merde chie du plastique</p>
        <p class="lyricline">LE TROU D'MON CUL EST UN POT à NUTELLA</p>
        <p class="lyricline">LE TROU D'MON CUL EST UN POT à NUTELLA</p>
      </div>
      <div class="column">
        <p class="lyricline"> C2</p>
        <p class="lyricline">Collectionne les jouets des paquets</p>
        <p class="lyricline">La conso occidentale est le pire banquet</p>
        <p class="lyricline">Manger, bouger, c'est du caca</p>
        <p class="lyricline">Va courir pour boire du soda</p>
        <p class="lyricline">Regarde nos pubs tu aimes ça</p>
        <p class="lyricline">C3 </p>
        <p class="lyricline">J'mange de la merde j'm'y fais pas</p>
        <p class="lyricline">Additifs, sucre, sel </p>
        <p class="lyricline">j'bouffe plus que ça</p>
        <p class="lyricline">Coca cola me mène au trépas</p>
        <p class="lyricline">La seringue d'insuline fixée aux bras</p>
        <p class="lyricline">Le suicide collectif avance à grand pas</p>
      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">Plutôt scato... que catho</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/plutotscato.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> Plutôt scato... que catho</h1>
      <div class="column">
        <p class="lyricline"> C1</p>
        <p class="lyricline"> L'avantage c'est que t'aimes quand ça sort</p>
        <p class="lyricline"> Plutôt que quand de Dieu vient le sort</p>
        <p class="lyricline"> Mais certains préfèrent la rentrer</p>
        <p class="lyricline"> Je parle bien évidemment du curé</p>
        <p class="lyricline"> Tu vas le voir tous les dimanches</p>
        <p class="lyricline"> à chaque fois il te sort son manche</p>
        <p class="lyricline"> Tu préfèrerais donc être enterré</p>
        <p class="lyricline"> Quand il est en train de te pénétrer</p>
        <p class="lyricline"> REFRAIN</p>
        <p class="lyricline">Il me détruit le corps quand on est dans le chœur</p>
        <p class="lyricline">J’espère qu'il fait pas la même chose avec les bonnes sœurs</p>
        <p class="lyricline">J'suis vraiment pas serein quand j'le vois depuis la nef</p>
        <p class="lyricline">Je préfère c'qui sort que ce qui rentre dans mes sef</p>
      </div>
      <div class="column">
        <p class="lyricline"> C2</p>
        <p class="lyricline">J'suis allé à la messe avec tous mes copains</p>
        <p class="lyricline">Elle fut prononcée par le curé </p>
        <p class="lyricline">d'Camaret</p>
        <p class="lyricline">On a vu ses couilles sèches comme celles de Topin</p>
        <p class="lyricline">Sur le chemin du r'tour, c 'était dur de marcher</p>
        <p class="lyricline">Au nom du père du fils, et du Saint esprit</p>
        <p class="lyricline">La loi de ces connards c'est pas vu pas pris</p>
        <p class="lyricline">Avec celle du seigneur, tétais partant</p>
        <p class="lyricline">Mais peut-être qu'il est mieux Satan</p>
        <p class="lyricline">C3</p>
        <p class="lyricline">Aller aux toilettes quand on a la colique</p>
        <p class="lyricline">Pour un tel facteur c'est pas très catholique</p>
        <p class="lyricline">La séparation de l'église et de l'état</p>
        <p class="lyricline">Devrait aussi s'effectuer entre le prêtre et moi</p>
        <p class="lyricline"> a-t-il donc oublié l'histoire d'Adam et eve</p>
        <p class="lyricline">C'est carrément une part de moi qu'il enlève</p>
        <p class="lyricline">Un jour tout se paye, et il prendra cher</p>
        <p class="lyricline">Lorsqu'on lui ouvrira les portes de l'enfer</p>
        <p class="lyricline">PONT</p>
        <p class="lyricline">J'croyais que dieu détestait les homos</p>
        <p class="lyricline">Qu'il pouvait me guérir de tous mes maux</p>
        <p class="lyricline">Je vais bientôt aller au Vatican </p>
        <p class="lyricline">ça va être un carnage j'le sens</p>
      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">J'ai chié dans la colle</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/chiedanslacolle.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> J'ai chié dans la colle </h1>
      <div class="column">
        <p class="lyricline"> C1</p>
        <p class="lyricline"> MAMAN, j'ai chié dans la colle</p>
        <p class="lyricline"> J'ai eu de trop mauvais résultats</p>
        <p class="lyricline"> J'ai pas eu mon baccalauréat </p>
        <p class="lyricline"> Mais, j'faisais mes bails t'inquiète pas</p>
        <p class="lyricline"> Parce que je partais en tournée</p>
        <p class="lyricline"> Avec les meilleurs groupes de l'année</p>
        <p class="lyricline"> C'est pas dans la colle que j'ai chié </p>
        <p class="lyricline"> Mais sur l'programme de J.M Blanker</p>
        <p class="lyricline"> REFRAIN</p>
        <p class="lyricline">Ouais parce que mon groupe</p>
        <p class="lyricline">C'est Brutal Fékal</p>
        <p class="lyricline">On remplissait des stades</p>
        <p class="lyricline">Et les milfs du marquis de Sade</p>
        <p class="lyricline">Parce que notre groupe</p>
        <p class="lyricline">C'est Brutal Fékal</p>
        <p class="lyricline">Maman j'ai chié dans la colle</p>
        <p class="lyricline">Mais on est rentré dans les annales</p>
      </div>
      <div class="column">
        <p class="lyricline"> C2</p>
        <p class="lyricline">MAMAN, j'ai chié dans la colle</p>
        <p class="lyricline">J'ai été écarté du supérieur</p>
        <p class="lyricline">à cause de ma consommation d'alcool</p>
        <p class="lyricline">Et mon islamogauchisme faisait peur</p>
        <p class="lyricline">Les LBD faisaient mal</p>
        <p class="lyricline">et pour Vidal j'étais que dalle</p>
        <p class="lyricline">Baleck j'suis reparti en tournée</p>
        <p class="lyricline">Avec les strass de ces dernières années.</p>
        <p class="lyricline">BREAK DOWN</p>
        <p class="lyricline">OUHA MAMAN J'AI CHIé MAMAN OUHAA</p>
        <p class="lyricline">C3</p>
        <p class="lyricline">J'ai dit aux élèves que j'allais m'absenter</p>
        <p class="lyricline">Y'avait pas de grève ni de jour de congé</p>
        <p class="lyricline">Le proviseur m'a engueulé</p>
        <p class="lyricline">Mais j'm'en bats les couilles car j'ai percé</p>
        <p class="lyricline">J'étais la rock 'star des mioches</p>
        <p class="lyricline">Leur pétais les dents avec des manches de pioches</p>
        <p class="lyricline">J'grattais la queue à la cantine </p>
        <p class="lyricline">Et draguais la cantinière coquine</p>
      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">Brutal Fekal</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/c2lamerde.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> Brutal Fekal</h1>
      <div class="column">
<p class="lyricline">        C1</p>
<p class="lyricline">        J'ai la goutte, j'ai l'urine qui goutte</p>
<p class="lyricline">        et mes couches qui débordent</p>
<p class="lyricline">        on me dit que je deviens crade</p>
<p class="lyricline">        j'ai la goutte, j'ai l'urine qui goutte</p>
<p class="lyricline">        on me dit que je deviens sale</p>
<p class="lyricline">        faudrait appeler le samu social</p>
<p class="lyricline">        je suis brutal féKal</p>
<p class="lyricline">        a table je bave, table rase de mon passé,</p>
<p class="lyricline">        je mérite ce que je dois, j'monte plus les escaliers</p>
<p class="lyricline">        y a quoi, je tangue derrière le déambulateur</p>
<p class="lyricline">        y aura peut être besoin du défibrillateur</p>
<p class="lyricline">        ref</p>
<p class="lyricline">        nous sommes les momies de l'ancien temps</p>
<p class="lyricline">        les ancêtres de vos parents les fleurs fanées du printemps</p>
<p class="lyricline">        et des trognes à tête de gland</p>
<p class="lyricline">        Passage plus violent</p>
<p class="lyricline">        Brutal fékal !</p>
<p class="lyricline">        j'me pisse dessus dans le hall d' hôtel</p>
<p class="lyricline">        j'ai l'pantalon qui tombe sans les bretelles</p>
<p class="lyricline">        brutal fékal</p>
<p class="lyricline">        caillasse et tag acab, incarne la lueur de rébellion</p>
<p class="lyricline">        en ces temps de liberté bafouée, éclaire la nation</p>
<p class="lyricline">        brutal fékal</p>
      </div>
      <div class="column">
<p class="lyricline">        Break down</p>
<p class="lyricline">me tape dans les murs de ma cellule capitonnée</p>
<p class="lyricline">plus gros banger en hospice d' aliéné</p>
<p class="lyricline">j’extériorise ma haine de la société</p>
<p class="lyricline">en tapant sur le son avec mon poing et mon pied</p>
<p class="lyricline">C2</p>
<p class="lyricline">dans la ness-jeu y a pas d'principe</p>
<p class="lyricline">Du tramadol caché dans l'slip</p>
<p class="lyricline">Je crève les pneus de ton fauteuil</p>
<p class="lyricline">et referme le cercueil</p>
<p class="lyricline">C'est dans le cimetière que je déterre mes milfs</p>
<p class="lyricline">zbi l'art de la chicha est expressif</p>
<p class="lyricline">sur le plateau de rami c'est moi le croupier</p>
<p class="lyricline">j'prends les paris qui clamsera le premier </p>
<p class="lyricline">J'lape doucement ma soupe du déjeuner</p>
<p class="lyricline">c'est pratique sans dent y' a pas besoin de mâcher</p>
<p class="lyricline">Dans la start up nation du dentier</p>
<p class="lyricline">depuis la maison de retraite je dirige le monde entier</p>


      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->



<h1 style="color:black;padding-top:30px;">Topin</h1>
<div class="cardpaysage" style="background-color: none;">
  <div class="card__innerpaysage" style="background-color: #000;">

    <div class="card__frontpaysage image-container" style="content : 'Mes couilles sur ton front'">
      <img class="imgpaysage" src="../static/images/artworks/topin.png">
    </div><!-- .card__back -->

    <div class="card__backpaysage">
      <h1 class="imagetitle" id="imgtitma"> Topin </h1>
      <div class="column">
<p class="lyricline">        INTRO</p>
<p class="lyricline">        Il était une fois</p>
<p class="lyricline">        Dans un passé fort lointain</p>
<p class="lyricline">        L'histoire d'un gars</p>
<p class="lyricline">        Surnommé topin</p>
<p class="lyricline">        Il naquit dans un petit village</p>
<p class="lyricline">        entre nantes et legé</p>
<p class="lyricline">        Il vivait de rêves et de mirages</p>
<p class="lyricline">        puis la realité l'a rattrapé</p>
<p class="lyricline">        C1</p>
<p class="lyricline">Une enfance trépidante, à jouer au foot et lancer des cailloux</p>
<p class="lyricline">topin sautait dans le purin, avait de la merde jusqu'au cou</p>
<p class="lyricline">il s'amusait bien avec tous ses copains</p>
<p class="lyricline">jusqu'à ce qu'il en foute partout</p>
<p class="lyricline">car c'est un train qui écrasa les couilles du malandrin</p>
<p class="lyricline">au point qu'il ne puisse plus s'en servir du tout</p>


      </div>
      <div class="column">
        <p class="lyricline">REFRAIN</p>
<p class="lyricline">On dit pas d un plat qu'il est étouffe chrétien</p>
<p class="lyricline">mais plutôt qu'il est sec comme les couilles à topin,</p>
<p class="lyricline">s'il était maçon, il aurait pris un parpaing</p>
<p class="lyricline">mais la vie l'a poussé sur les rails du train</p>
<p class="lyricline">On dit pas d'un plat qu'il est étouffe chrétien</p>
<p class="lyricline">mais plutôt qu'il est sec comme les couilles à topin,</p>
<p class="lyricline">s'il était instituteur ce serait les anneaux du classeur</p>
<p class="lyricline">mais c'est un train qui lui aplatit ses valseurs</p>
<p class="lyricline">        C2</p>
<p class="lyricline">tout le monde savait, qu'il avait esquivé le cercueil</p>
<p class="lyricline">car depuis peu topin roulait en fauteuil</p>
<p class="lyricline">on le surnommait le sachet de thé</p>
<p class="lyricline">car dans la bétadine il les faisait tremper</p>
<p class="lyricline">Il attirait les regards jouasses</p>
<p class="lyricline">car il avait des agraphes plein les boulasses</p>
<p class="lyricline">son histoire, comptée par les anciens</p>
<p class="lyricline">prévenait les mioches de s'éloigner du train</p>
<p class="lyricline">PONT</p>
<p class="lyricline">a chaque terroir ses ragots et ses légendes</p>
<p class="lyricline">c'est par la sécheresse de ses couilles que topin rentra dans l'histoire</p>
<p class="lyricline">une question subsiste encore, </p>
<p class="lyricline">est-ce qu'il bande</p>
<p class="lyricline">ou s'est il perdu dans ces déboires</p>
      </div>
    </div><!-- .card__back -->

  </div><!-- .card__inner -->
</div><!-- .card -->

{%endblock%}