<!DOCTYPE html>
<html>

<head>
  
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"></script>
  <script src="../static/js/game.js"></script>
  <script src="../static/js/menu.js"></script>


  <link rel="stylesheet" type="text/css" href="../static/css/nav.css" />
  <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../static/css/menu.css"  type="text/css" rel="stylesheet"/>

</head>









<!-- HEADER STARTS HERE -->
  <div>
    <header class="d-flex flex-wrap justify-content-center mb-4 imgdiv">
      <img src="../static/images/header.png" width="100%" />
    </header>
  </div>





  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4" style="width:15%">
        <div class="container">
          <header>
            <input type='checkbox' id='toggle' style='display:none;' />
            <label class='toggle-btn toggle-btn__cross' for='toggle'>
              <img src="../static/images/menu.png" style="width:90%" />
            </label>
            <nav>
              <ul>
                <li><a href="#">Notre Histoire</a></li>
                <li><a href="#">Nos News</a></li>
                <li><a href="#">Gros Merch</a></li>
                <li><a href="#">Nos Enormes bangers</a></li>
                <li><a href="#">Nos Lyrics</a></li>
                <li><a href="#">Artworks</a></li>
                <li><a href="#">Nous Contacter</a></li>
              </ul>
            </nav>
          </header>
          
               

         </label>

          <!-- Content for first column goes here -->
        </div>
      </div>
      <div class="col-4 text-center middle-col" style="width:70%;">
        <!-- <img src="../static/images/pq.png" width="100%"> -->
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <h1 style="font-family: 'BFFont'; padding-top: 40px;;">Bienvenue sur le site de Brutal Fekal</h1>
        <p>Comme on s'est dit que le meilleur moyen d'honnorer notre grand talent était certainement de faire un site
          internet, bah on a fait ça !
        </p>
        <div id="game-container">
        </div>
        </img>



        <!-- Content for second column goes here -->
      </div>
      <div class="col-4" style="width:15%">
        <!-- Content for third column goes here -->
      </div>
    </div>
  </div>



  </div>
</body>

</html>