{%extends "base.html"%}
{%block head%}

<link href="../static/css/merch.css" type="text/css" rel="stylesheet" />
<title>Brutal Merch</title>
{%endblock%}
{%block middlecolumn%}
<h1 style="color:white">Tout notre merch s’offre à toi ! N’hésite pas à nous donner ton salaire et te nourrir uniquement d’eau le reste du mois !
</h1>
<ul class="tilesWrap">
	<li>
		<h2>CD</h2>
		<h3>CD</h3>
		<img src="../static/images/jul.jpeg" style="width: 100%;"/>
		<p>
			Tu veux écouter nos giga bangers n'importe où ?
            Prend un CD !
		</p>
		<button onclick="window.location='http\:\/\/www.pornhub.com'">Acheter un CD</button>
	</li>
	<li>
		<h2>T-S</h2>
		<h3>T-Shirt</h3>
		<p>
			T'as toujours révé d'arborer fierement les couleurs de BF ?
		</p>
        <img src="../static/images/jul.jpeg" style="width: 100%;"/>
		<button onclick="window.location='http\:\/\/www.pornhub.com'">Acheter ton T-Shirt</button>
	</li>
	</ul>
	<ul class="tilesWrap">
	<li>
		<h2>Pat</h2>
		<h3>Patch</h3>
		<p>
			Tu veux des gros patches a mettre sur ta petite veste ?
		</p>
        <img src="../static/images/jul.jpeg" style="width: 100%;"/>
		<button>Achter un patch</button>
	</li>
	<li>
		<h2>$$</h2>
		<h3>Nous filer de la thune</h3>
		<p>
			Bah ouais car ca coute cher de faire un album et tout, donc si tu veux nous soutenir
		</p>
        <img src="../static/images/jul.jpeg" style="width: 100%;"/>
		<button>Nous acheter des bières</button>
	</li>
</ul>
{%endblock%}